.headerIntroduction{
    display: grid;
    grid-template-columns: 260px 3fr;
    grid-template-rows: 50px 300px 50px;
    margin: 50px var(--margin-sides);
}
.leftHeader{
    grid-area: 1/1/4/2;
    position: relative;
    text-align: center;
    color: black;
    box-shadow: 2px 2px 12px 1px black;
    z-index:1;
}

.portrait{
    height: 400px;
}
.headerName{
    position: absolute;
    bottom: 8px;  
    transform: translate(50%);
    background: none;
    color: white;
}
.rightHeader{
    grid-area: 1/2/4/3;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.infoCard{
    display:grid;
    grid-template-columns: 1fr 160px;
    grid-template-rows: 50px 1fr 50px;
    height: 300px;
    background:white;
    box-shadow: var(--box-shadow-combined);
    position: relative;
    z-index: 0;


    --box-shadow-Xoffset: 2px;
    --box-shadow-Yoffset: 2px;
    --box-shadow-blur: 12px;
    --box-shadow-spread: 1px;
    --box-shadow-color: black;
}

.about{
    grid-area: 1/1/2/3;
    background: inherit;
    margin-left: 28px;
    margin-top: 12px;
}
.infoCardText{
    grid-area: 2/1/3/3;
    background: inherit;
    margin-left: 12px;
}
.buttonHolder{
    grid-area:3/2/4/3;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 12px;
    margin-right:12px;
    background:inherit;
}