:root{
    --portrait-width: 400px;
    --portrait-height: calc(var(--portrait-width) * 1.5);
    
}
header{
    position:relative;
    display: grid;
    min-height:900px;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    transition: background-color var(--default-transition-time) ease-in-out;
}
.headerBorderSVG{
    background-color: var(--background-color);
    align-self: end;
    transition: background-color var(--default-transition-time) ease-in-out;
}
.headerBorderSVGPaths{
    fill: var(--header-footer-color);
    transition: fill var(--default-transition-time) ease-in-out;
}
.headerIntroduction{
    grid-area:1/1/3/2;
    display:grid;
    grid-template-columns: var(--portrait-width) 1fr;
    grid-template-rows: 60px calc(var(--portrait-height) - 120px) 60px;
    padding:  var(--padding-top-bottom) var(--padding-sides);
}
.portraitContainer{
    grid-area: 1/1/4/2;
    position:relative; 
}
.portrait{
    position:relative;
    width:var(--portrait-width);
    box-shadow: var(--box-shadow-combined);
}
.portraitName{
    position:absolute;
    text-align:center;
    bottom: 0.8em;  
    left:50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.4em;
}
.infoCard{
    grid-area: 2/2/3/3;
    position:relative;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-combined);
    transition: background-color var(--default-transition-time) ease-in-out,
                color var(--default-transition-time) ease-in-out;
}
.infoCardFloater{
    display:none;
}
.about{
    background: inherit;
    margin-left: 28px;
    margin-top: 12px;
}
.infoCardText{
    grid-area: 2/1/3/3;
    background: inherit;
    margin-left: 12px;
}
.buttonHolder{
    grid-area:3/2/4/3;
    position: absolute;
    bottom:1.2em;
    right:1.2em;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 12px;
    margin-right:12px;
    background:inherit;
}
@media (max-width: 1200px){
    :root{
        --portrait-width: 320px;
        --portrait-height: calc(var(--portrait-width) * 1.5);
        --portrait-overlap-x: calc(var(--portrait-width) * 0.8);
        --portrait-overlap-y: calc(var(--portrait-height) * 0.2);
        --portrait-left-solo-column: calc(var(--portrait-width) - var(--portrait-overlap-x));
    }
    .headerIntroduction{
        grid-template-columns: var(--portrait-left-solo-column) var(--portrait-overlap-x) 1fr;
        grid-template-rows: var(--portrait-overlap-y) calc(var(--portrait-height) - var(--portrait-overlap-y)) 160px;
        padding-right: 120px;
    }
    .portraitContainer{
        grid-area: 1/1/3/2;
        position:relative;
        z-index:1;
    }
    .portraitName{
        position:absolute;
        text-wrap: nowrap;
        top: 0.8em;  
        transform: translateX(80%);
        color: white;
        font-size: 2.4em;
    }
    .infoCard{
        grid-area: 2/2/4/4;
        display: inline;
        position:relative;
        background-color: var(--background-color);
        z-index:0;
    }
    .infoCardFloater{        
        display:inline;
        height:calc(var(--portrait-height) - var(--portrait-overlap-y));
        width:var(--portrait-overlap-x);
        float:left;
        margin-right: 1.2em;
        margin-bottom: 1.2em;
    }
    .about{
        padding-left: 28px;
    }
    .infoCardText{
        margin-left: 12px;
    }   

}
@media (max-width: 800px){
    :root{
        --portrait-width: 100%;
        --portrait-height: calc(var(--portrait-width) * 1.5);
        --portrait-overlap-x: calc(var(--portrait-width) * 0.8);
        --portrait-overlap-y: calc(var(--portrait-height) * 0.2);
        --portrait-left-solo-column: calc(var(--portrait-width) - var(--portrait-overlap-x));
    }
    .header{
        min-height: auto;
    }
    .headerIntroduction{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding: 60px;
        padding-bottom: 72px;
        gap: 24px;
    }
    .portraitContainer{
        width: 100%;
        position:relative;
    }
    .portraitName{
        position:absolute;
        text-wrap: wrap;
        top: auto;
        bottom: 0.8em;
        color: white;
        font-size: 4.4em;
        transform: translateX(-50%);   
    }
    .infoCard{
        display: inline;
        position:relative;
        background-color: var(--top-bottom-color);
        border: none;
        box-shadow: none;
        color: white;
    }

    .infoCard p{
        font-size: 1.4em;
    }
    .infoCardFloater{        
        display:none
    }
    .about{
        padding: 0px;
        font-size: 2.8em;
        padding-bottom: 12px;
        justify-self: center;
    }
    .infoCardText{
        margin-left: 12px;
        text-wrap: wrap;
    } 
    .buttonHolder{
        position: absolute;
        bottom:-3.4em;
        right:50%;
        margin-right: 0px;
        transform: translate(50%);
        background: var(--top-bottom-color);

        display: flex;
        justify-content:center;
        align-items: center;
        gap: 12px;
    }
}
