.iconLink{
    height: 32px;
    width: 32px;
    fill: var(--text-color);
    transition: fill var(--default-transition-time) ease-in-out;
}
.iconLink.infoCardLink{
}

.iconLink.footerLink{
    fill: white;
}


.iconLink.projectCardLink{

}