.iconLink{
    height: 32px;
    width: 32px;
    fill: var(--text-color);
    transition: fill var(--default-transition-time) ease-in-out;
    transform: scale(100%);
    
}
a svg:hover{
    transition: transform var(--default-transition-time) ease-in-out;
    transform: scale(120%);
}

@media (max-width: 800px){
    .iconLink.infoCardLink{
        fill: white;
        height: 48px;
        width: 48px;
    }
}

.iconLink.footerLink{
    fill: white;
}