:root{
    --project-card-size: calc((100vw - 5px) / 4);

    --project-header-height: 50px;
    --project-header-padding: 8px;
    --project-header-size: calc(var(--project-header-height) + (var(--project-header-padding))*2);

    --project-card-button-size: 50px;
}
main{
    background-color: var(--background-color);
    padding: var(--padding-top-bottom) var(--padding-sides);
    color: var(--text-color);
    transition: background-color var(--default-transition-time) ease-in-out,
                color var(--default-transition-time) ease-in-out;
}
.projectSection{
    display:grid;
    grid-template-rows:100px 1fr;
}
.projectHeadline{
    grid-area: 1/1/2/2;
    font-size: 3.2rem;
    justify-self: center;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--project-card-size));
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap:3.6em;
}
.projectCard{
    box-shadow: var(--box-shadow-combined);
    display: grid;
    height: var(--project-card-size);
    grid-template-rows: 2fr var(--project-header-size) 1fr;
}
.projectImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow:hidden;
}
.projectCardUpper{
    display: flex;
    grid-template-columns: 1fr var(--project-card-button-size) var(--project-card-button-size);
    gap: 8px;
    padding: var(--project-header-padding);
    align-items: center;
    justify-content: center;
}
.projectName{
    line-height: var(--project-header-height);
    flex-grow:1;
}
.projectDescription{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 1250px){
    :root{
        --project-card-size: calc((100vw + 40px) / 3);
    }
    .projectSection{
        grid-template-rows: 80px 1fr;
    }
    
    .projectHeadline{
        justify-self: center;
        font-size: 3.2em;
    }
}

@media (max-width: 850px){
    :root{
        --project-card-size: calc((100vw - var(--padding-sides) * 4));
    }
    .projectName{
        font-size: 1.6rem;
    }
    .projectDescription{
        font-size: 1.4rem;
    }
    
}