:root{
    --box-shadow-Xoffset: 2px;
    --box-shadow-Yoffset: 2px;
    --box-shadow-blur: 12px;
    --box-shadow-spread: 1px;
    --box-shadow-color: black;
    --box-shadow-combined: var(--box-shadow-Xoffset) var(--box-shadow-Yoffset) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);

    --margin-sides: 320px;
    --margin-top-bottom: 50px;

    --default-transition-time: 1s;
}

:root.light{
    --background-color: rgb(255, 251, 239);
    --header-footer-color: teal;
    --text-color: black;
    --toggle-background: #F5F5F6;
    --toggle-active-circle-background: #FFD371;
    --switch-circle-position: 8px;
    --icon-sun: #cea64a;
    --icon-moon: #B1B0B5;
}

:root.dark{
    --background-color: rgb(32, 32, 32);
    --header-footer-color: rgb(0, 0, 105);
    --text-color: white;
    --toggle-background: #929292;
    --toggle-active-circle-background: #7190FF;
    --switch-circle-position: 50px;
    --icon-sun: #5c5649;
    --icon-moon: #DCE3FF;
}


@font-face{
    font-family: playfair-display;
    src: url(./styles/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: roboto;
    src: url(./styles/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}


* {
    margin:0px;
    font-family: playfair-display, sans-serif;
}

h1 h2 h3{
    font-family: playfair-display, sans-serif;
}

p{
    font-family: roboto, sans-serif; 
}

@import 'styles/header.css';
@import 'styles/main.css';
@import 'styles/footer.css';
@import 'styles/themeToggle.css';
@import 'styles/iconLinks.css';

button{
    cursor: pointer;
}
